#title {
    background-color: #ff4c68;
    font-family: 'Montserrat';
}

h1 {
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container-fluid {
    padding: 3% 10% 20% 10%;
}

.navbar {
    padding-bottom: 80px;
}

.navbar-brand {
    font-size: 3rem;
    font-family: 'Ubuntu';
}


.collapse {
    margin-right:200px;
}

.nav-item {
    font-size: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
}

#navbarOptions{
    margin-right: 50px;
}

.download-button {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.title-pic {
    rotate: 20deg;
    position:absolute;
}

/* features */

#features {
    text-align: center;
    /* margin: 200px; */
    padding:150px;
    background-color: #ffffff;
    position: relative;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
    width:50%;
    margin: auto;
    line-height: 1.5;
}


.fa-solid:hover {
    color: #ff4c68;
}

.fa-solid {
    padding: 20px;
}

/* testimonial */

#testimonials {
    text-align:center;
    background-color: #ff4c68;
    color:#ffffff;
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    padding:20px;
}

.carousel-item {
    padding: 10%;
}

h2 {
    line-height: 1.5;
    width: 80%;
    margin:auto;
}

/* press section */

#press {
    text-align: center;
    background-color: #ff4c68;
}

.press-image {
    margin-bottom: 100px;
    width: 15%;
}

/* pricing section */
#pricing {
    text-align: center;
    padding:5%;
}

.price-col {
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

/* call to action and footer  */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 5%;
}

#cta-title {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size:3rem;
    width: 50%;
    margin:auto;
}

.cta-button {
    margin:2%;
    padding: 10px;
    font-size: 1.5rem;
}

#footer {
    text-align: center;
    padding:40px;
}

.footer-icon {
    padding: 20px;
}


.footer-icon:hover {
    color:#ff4c68;
}






/* add media point for the mobile devices */

@media (max-width: 1000px) {
    .title-pic {
        position:static;
        rotate: 0deg;
    }
    #title {
        text-align: center;
    }
    .container-fluid {
        padding-bottom:10%;
    }
}

